{
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-var": 2,
    "prefer-const": 1,
    "no-unused-vars": 1,
    "default-case": 2,
    "no-alert": 2,
    "no-console": 2,
    "no-use-before-define": 2
  }
}
